html, body{
  height: 100vh;
}
a.aHeader{
  text-decoration: none;
}
body.myBody{
  background-color: #ffd688;
}
header.newColor{
  background-color: #000000;
}
p.header{
   color: #ffffff;
   text-decoration: none;
   font-size: 40px;
   font-family: 'Inknut Antiqua', serif;
   text-align: center;
   margin: 0;
  }
span.mySpanHeader{
   color: #ed9d05;
  }
  h1.card-title{
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
  }
p.card-text{
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #000000;
}
strong{
  background-color: #ed9d05;
  border: 5px solid #ed9d05;
  color: #ffffff;
}
div.myRow{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.newColor{
  background-color: #000000;
  height: 48px;
}
p.copyright{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
}
