html, body{
  height: 100vh;
}
a.aHeader{
  text-decoration: none;
}
body.myBody{
  background-color: #ffd688;
}
header.newColor{
  background-color: #000000;
}
p.header{
   color: #ffffff;
   text-decoration: none;
   font-size: 40px;
   font-family: 'Inknut Antiqua', serif;
   text-align: center;
   margin: 0;
  }
span.mySpanHeader{
   color: #ed9d05;
  }
  h1.card-title{
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
  }
p.card-text{
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #000000;
}
strong{
  background-color: #ed9d05;
  border: 5px solid #ed9d05;
  color: #ffffff;
}
div.myRow{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.newColor{
  background-color: #000000;
  height: 48px;
}
p.copyright{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
}
/* @media (max-width: 360px){
  h1.card-title{
    font-size: 25px;
  }
} */







/* html, body{
  height: 100vh;
}
body.bodyBackground{
  background-color: #ffd688;
}
div.card{
  border: 0;
}
div.card-header{
  background-color: #000000;
  text-align: center;
}
p.header{
   color: #ffffff;
   text-decoration: none;
   font-size: 40px;
   font-family: 'Inknut Antiqua', serif;
   text-align: center;
   margin: 0;
  }
  span.mySpanHeader{
   color: #ed9d05;
  }
div.card-body{
  background-color: #ffd688;
  width: 100%;
  height:550px;
  text-align: center;
  padding: 0;
}
h1.card-title{
  font-family: 'Inknut Antiqua', serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
}
p.card-text{
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #000000;
}
strong{
  background-color: #ed9d05;
  border: 5px solid #ed9d05;
  color: #ffffff;
}
div.card-footer{
  background-color: #000000;
  height: 48px;
}
p.copyright{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
}
a.aHeader{
  text-decoration: none;
} */























/* html, body{
  height: 100vh;
}
body.color{
  background-color: #ffd688;
}
div.card{
  border: 0;
}
div.card-header{
  background-color: #000000;
}
p.header{
   color: #ffffff;
   text-decoration: none;
   font-size: 40px;
   font-family: 'Inknut Antiqua', serif;
   text-align: center;
   margin: 0;
  }
  span.mySpanHeader{
   color: #ed9d05;
  }
  div.card-header{
   text-align: center;
 }
div.text{
  padding: 0;
  background-color: #ffd688;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1.card-title{
  font-family: 'Inknut Antiqua', serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #000000;
}
p.card-text{
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #000000;
}
div.card-footer{
  background-color: #000000;
}
p.copyright{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
} */
